{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>the profile detail</h1>
<div class="ui grid">
    <div class="row">
        <div class="four wide column">
            <img class="ui medium rounded image" src="{{ object.avatar.url }}" alt="">
            <h1>{{object.user}}</h1>
            <div class="ui vertical fluid menu">
                <div class="item">posts
                    <div class="ui label">
                        {{object.get_posts_no}}
                    </div>
                </div>
                <div class="item">likes given
                    <div class="ui label">
                        {{object.get_likes_given_no}}
                    </div>
                </div>
                <div class="item">likes received
                    <div class="ui label">
                        {{object.get_liked_recieved_no}}
                    </div>

                </div>
                <div class="item">friends no
                    <div class="ui label">
                        {{object.get_friends_no}}
                    </div>
                </div>
            </div>
            {% if object.user not in rel_reciever and object.user not in rel_sender %}
            <form action="{% url 'profiles:send_invitation' %}" method="post">{%csrf_token%}
                <input type="hidden" name="profile_pk" value="{{object.pk}}">
                <button class="ui positive basic button mb-5 w-big"><i class="plus square icon"></i> add to friends
                </button>
            </form>
            {% endif %}
            <br>
            {% if object.user in rel_reciever and request.user not in object.friends.all %}
            <button class="ui disabled   button mb-5 w-big"><i class="user icon"></i>waiting for approve</button>
            {% endif %}
            {% if request.user in object.friends.all %}

            <form action="{% url 'profiles:remove_friend' %}" method="post">{%csrf_token%}
                <input type="hidden" name="profile_pk" value="{{object.pk}}">
                <button class="ui negative basic button mb-5 w-big"><i class="minus square icon"></i>remove from friends
                    list
                </button>
            </form>
            {% endif %}


        </div>


        <div class="twelve wide column">
            {% if len_posts %}
            {% for post in posts %}
            <div class="ui segment fluid">
                {{ post.content }}
            </div>

            {% endfor %}
            {% else %}
            there is no posts to show righ now
            {% endif %}
        </div>

    </div>
    {% endblock content %}