{% extends 'base.html' %}
{% load static %}
{% block content %}
my invites

{% if is_empty %}
<h3>no invites to show</h3>
{% endif %}
{% for obj in qs %}
<div class="ui segment">
    <div class="ui grid">
        <div class="row">
            <div class="three wide column">
                <img class="ui circular small image" src="{{obj.avatar.url}}">
            </div>
            <div class="thirteen wide column">
                <h3>{{obj.user}}</h3>
                <p>{{obj.bio}}</p>
                <a href="">
                    <button class="ui primary button w-big mb-5">see profile</button>
                </a>
                <form action="{% url 'profiles:accept_invitation' %}" method="post">{%csrf_token%}
                    <input type="hidden" name="profile_pk" value="{{obj.pk}}">
                    <button type="submit" class="ui positive basic button w-big mb-5">
                        <i class="check icon"></i>accept</button>
                </form>
                <form action="{% url 'profiles:reject_invitation' %}" method="post">{%csrf_token%}
                    <input type="hidden" name="profile_pk" value="{{obj.pk}}">
                    <button type="submit" class="ui negative basic button w-big mb-5">
                        <i class="close icon"></i>reject</button>
                </form>

            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock content %}